.margin-box{
    margin-left: 7rem !important;
    margin-right: 4rem !important;
}

.user-box {
    border: 1px solid #232425;
    background: #414141;
    color: #fff !important;
    font-size: 13px;
    word-spacing: -.5px;
    box-shadow: inset 0 -3px 0 0 #212121;
    border-radius: 3px;
}
.dropdown-menu.home-menu  .dropdown-item {
    color: #fff !important;
    border-bottom: 1px solid ;
}
.dropdown-menu.home-menu  .dropdown-item:hover{
    background: #080909;
    color: #fff !important;
}
.dropdown-menu.home-menu {
    color: #fff !important;
    background: #242628e8 !important;
    top: 60px !important
}
.btn-menu-re{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display:none !important;
}
.top-menue{
    display: flex;
    margin-top: 0px;
    margin-bottom: -11px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d1d196;
}
.ivu-badge-count {
    transform: translateX(50%);
    top: -7px !important;
    right: 7px !important;
}
.v-list-item__content {
    padding: 8px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
}
.v-list-item__title{
    padding: 8px 0;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1rem;

}
.v-list-item__subtitle{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1rem;
}
.image-profile-menue{
    height: 70px;
    min-width: 70px;
    width: 70px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.image-profile-menue img{
    border-radius: inherit;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: inherit;
    width: inherit;
}
.menu-header-fixed{
    padding: 8px 15px;
    background: inherit;
    color: rgba(0,0,0,.87);
    border-radius: 3px;
    display: block;
    padding: 8px 0;
    position: static;
    -webkit-transition: -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    transition: -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
}
.btn-icon{
    width: 43px;
    height: 43px;
    text-align: center;
    display: flex;
    align-items: center !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.ivu-menu-vertical.ivu-menu-light::after{
    background: #fff !important;
}
.btn-icon:hover {
    background: #58a3e1;
}
.background-model-box{
    position: fixed;
    top: 0;
    right: 0;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #0605059e;
    opacity: .6;
    z-index: 8;
    display: none;
    color: red;
    padding-top: 25px;
    padding-left: 25px;
}
.activeBackgroundMobile{
    display: block;
}
.box-maneu{
    direction: rtl !important;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08);
}
.btn-maneu i{
    coller:#fff;
    font-sizr:17px
}
.dropdown-item {
    padding: 8.25px 1.5rem !important;
}
.v-sheet{
    height: 64px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
    background-color: #1e88e5 !important;
    border-color: #1e88e5 !important;
    position: fixed;
    top: 0;
    z-index: 5;
    color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.v-navigation-drawer__content{
    height: 100vh;
    top: 70px;
    max-height: calc(100% - 64px);
    transform: translateX(0%);
    width: 256px;
    border-color: #fff !important;
    position: fixed;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08);
    background: #fff !important;
    right: 0px;
    transition: 300ms ease all;
    z-index: 9;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu)::after {
    right: inherit !important;
    left: 0 !important;
}
.dropdown-menu {
    color: #212529;
    text-align: right !important;
    border: 0px !important;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) !important;
    top: 0px !important;
    left: 0px !important;
}
.active{
    right: 0px !important;

}
.ivu-menu-vertical .ivu-menu-submenu-title-icon {
    right: inherit !important;
    left: 20px !important;
}
.btn-icon{
    color: #fff;
    font-size: 18px;
}
.ss-container:active .ss-scroll, .ss-container:hover .ss-scroll {
    opacity: 1;
}
.ss-scroll {
    background: #9fc9f7 !important;
}
/*.navbar-brand {*/
/*    margin-left: 11rem !important;*/
/*    margin-right: 0 !important;*/
/*}*/
.navbar {
    padding: 1rem !important;
}
.user-res {
    display: none;
    margin-left:0rem !important
}
.navbar-nav {
    font-size: 15px;
}
@media screen and (max-width: 759px){
    .v-navigation-drawer__content{
        right: -264px ;
    }
    .btn-menu-re{
        display:flex !important;
    }

    .margin-box{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}
@media screen and (max-width: 990px){
    .user-res {
        display: block;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
    }
    .box-maneu {
        direction: ltr !important;
    }
    .margin-box{
        margin-left: 0rem !important;
        margin-right: .5rem !important;
    }
    .margin-box2{
        margin-left: 0rem !important;
        margin-right: .5rem !important;
    }
}
.box-center{
    height: 100px;
    align-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.user-role-card{
    padding: 13px;
    background: #cccccc2b;
    cursor: pointer;
}
.box-login{
    color: rgb(255, 255, 255) !important;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    font-size: 13px;
}
.login-box{
    color: #777676;
}
.login-box:hover{
    color: #5aabf2d9;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
