.karavel-btn {
    background-color: var(--var-background-color) !important;
    border-color: var(--var-background-color) !important ;
}
.karavel-btn:hover , .karavel-btn:focus  {
    opacity: .9;
    transition: all .2ms;
}

.disappeared-company , .disappearedCompany  {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    filter: blur(3px);
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-17 {
    font-size: 17px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.font-25 {
    font-size: 25px !important;
}
.cursor-poiner {
    cursor:  pointer;
}
.position-relative {
    position: relative;
}
.position-absolute{
    position: absolute;
}
.disapeard-company-image {
    background-size: cover;
    width : 80px ;
    height : 80px ;
    border-radius: 50%;
}
.auth-error {
    position: absolute ;
    bottom: 0 ;
    margin-bottom: -30px;
}

.box-list-jobs{
    padding: 15px 0 !important;
    margin-top: 16px !important;
    cursor: initial !important;
}

.box-list-jobs:hover{
    border-color: #a6a4a4;
}
.karavel-box {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 4px;
    position: relative;
    border: 1px solid #ccc;
}
.swal2-container {
    z-index: 10000 !important;
}
.vue-notification-group {
    bottom: 20px !important;
}
@media screen and (max-width: 900px) {
    .ivu-modal {
        width: auto !important;  ;
        margin: 0 10px !important;
    }
}


 :root {
   --var-background-color: #0765bd;
   --var-border-color : #0765bd
 }
.nav-back {
  background-color:  #fff !important;
  border-color: var(--var-background-color) !important;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  border-bottom: 2px solid;
  //opacity: 0.9;
}
.btn-menu-re {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none !important;
}

.top-menue {
  display: flex;
  margin-top: 25px;
  margin-bottom: -11px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5d1d196;
}

.ivu-badge-count {
  transform: translateX(50%);
  top: -7px !important;
  right: 7px !important;
}

.v-list-item__content {
  padding: 8px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
}

.v-list-item__title {
  padding: 8px 0;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;

}

.v-list-item__subtitle {
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.image-profile-menue {
  height: 70px;
  min-width: 70px;
  width: 70px;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.image-profile-menue img {
  border-radius: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: inherit;
  width: inherit;
}

.menu-header-fixed {
  padding: 8px 15px;
  background: inherit;
  color: rgba(0, 0, 0, .87);
  border-radius: 3px;
  display: block;
  padding: 8px 0;
  position: static;
  -webkit-transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;
}

.btn-icon {
  width: 43px;
  height: 43px;
  text-align: center;
  display: flex;
  align-items: center !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ivu-menu-vertical.ivu-menu-light::after {
  background: #fff !important;
}

.btn-icon:hover {
  background: #58a3e1;
}



.box-maneu {
  direction: ltr;
  box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
}

.btn-maneu i {
  coller: #fff;
  font-size: 17px
}

.dropdown-item {
  padding: 8.25px 1.5rem !important;
}

.v-sheet {
  height: 64px;
  margin-top: 0px;
  transform: translateY(0px);
  left: 0px;
  right: 0px;
  background-color: var(--var-background-color) !important;
  border-color: var(--var-background-color) !important;
  position: fixed;
  top: 0;
  z-index: 5;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.v-navigation-drawer__content {
  height: 100vh;
  top: 70px;
  max-height: calc(100% - 64px);
  transform: translateX(0%);
  width: 256px;
  border-color: #fff !important;
  position: fixed;
  box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
  background: #fff !important;
  right: 0px;
  transition: 300ms ease all;
  z-index: 9;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu)::after {
  right: inherit !important;
  left: 0 !important;
}

.dropdown-menu {
  color: #212529;
  text-align: right !important;
  border: 0px !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
  top: 15px !important;
  left: 7px !important;
}

.active {
  right: 0px !important;

}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
  right: inherit !important;
  left: 20px !important;
}

.btn-icon {
  color: #fff;
  font-size: 18px;
}

.ss-container:active .ss-scroll, .ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-scroll {
  background: #9fc9f7 !important;
}

@media screen and (max-width: 759px) {
  .v-navigation-drawer__content {
    right: -264px;
  }

  .btn-menu-re {
    display: flex !important;
  }

  .background-model-box {
    position: fixed;
    top: 0;
    right: 0;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #0605059e;
    opacity: .6;
    z-index: 8;
    display: none;
    color: red;
    padding-top: 25px;
    padding-left: 25px;
  }

  .activeBackgroundMobile {
    display: block;
  }
}

 .fixed-filter-box {
   position: sticky;
   top: 83px;
 }
.filter-buttons {
  padding: 10px;
  display: flex ;
  justify-content: space-between;
}
.filter-buttons button {
  height: 42px; margin: 0 10px;
}
.color-text-filter{
  color:  rgb(124, 129, 135) ;
  font-size: 14px;
}
.box-filter-job{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  padding: 15px 0;
  border-radius: 0 0 .5rem .5rem;
}

.box-header-fiter{
  margin-top: 16px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
  color: #fff;
  border-radius: .5rem .5rem 0px 0px;
}
.box-header-fiter-color{
  background: var(--var-background-color);
}
.ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header > i {
  transform: rotate(90deg);
  font-size: 22px;
  color: #7c8187
}
.ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i {
  transition: transform .2s ease-in-out;
  margin-right: 14px;
  font-size: 22px;
  color: #7c8187;
}
.ivu-select-large.ivu-select-multiple .ivu-select-selection{
  min-height: 46px !important;
}
.ivu-select-multiple .ivu-select-selection {
  padding: 4px 4px 0 4px !important;
}
.ivu-select-large.ivu-select-single .ivu-select-selection {
  height: 46px !important;
  padding: 0 4px !important;
}
.ivu-select-large.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder, .ivu-select-large.ivu-select-multiple .ivu-select-selection .ivu-select-selected-value {

  line-height: 46px !important;
}
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  line-height: 46px !important;
}
.ivu-switch-checked::after  {
  left: 40px;
}
.ivu-switch {
  width: 60px;
}
.ivu-collapse {
  border-bottom:  none;
}
.ivu-collapse-simple:last-child {
  padding-bottom: 0 !important;
}
.mobile-filter {
  display: none;
}
.filterBtn {
  color: var(--var-background-color);
  border-bottom: 3px solid;
}
.textLeft {
  text-align: right !important;
}
@media screen and (max-width: 990px){
  .mobile-filter {
    display: block;
  }
  .mobile-send-resume-filter {
    bottom: 30px;
    left : 0 ;
    margin : 0 auto;
    border-radius: 5px;
    width: 115px;
  }
  .desk-filter { display: none}
  .instant-filter-box  {
    padding : 0 15px;
    position: fixed ;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
    border: 0 !important;
    margin-top : -30px ;
  }

}


.lock-company-image {
  position: absolute;
  z-index: 99;
  font-size: 25px;
  top: 7px;
  right: -55px;
  color: #ff2a2a;
}
.box-img .ivu-tooltip-popper {
  right: -75px !important
}
.box-img .ivu-tooltip  {
  width : auto !important
}
.box-img  .ivu-tooltip-popper[x-placement="top"] .ivu-tooltip-arrow {
  display : none
}
.lock-company {
  color: #e3342f;
  font-size: 16px;
}
.special {
  position: absolute;
  right: -6px;
  top: -6px;
  z-index: 1;
  overflow: hidden;
  width: 83px;
  height: 82px;
  text-align: right;
}
.spe-text {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  line-height: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #FF365D;
  position: absolute;
  top: 15px;
  right: -21px;
  padding: 0 0 5px 0;
}
.special .spe-text::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #d85800;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d85800;
}
.special .spe-text::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #d85800;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d85800;
}
.send-resume-box {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}
.left-box-board {
  display: flex;
  width: 27%;
  justify-content: center;
  align-items: center;
  margin: -10px 0;
}
.left-board:before {
  content : "";
  position: absolute;
  left    : 0;
  z-index: 100;
  top  : 24%;
  width  : 1px;
  height   : 50%;  /* or 100px */
  background: #c6c6c678;
}
.tick-icon-color {
  color : #61c9b0
}
.box-img {
  width: 15% !important;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.box-img img{
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
}
.center-box{
  display: flex !important;
  align-items: center !important;
  padding-right: 15px;
  font-size: 12px;
  color: #777;
  line-height: 1.75;
  position: relative;
}
.center-box.arrow {
  width: calc(100% - 35%);

}
.center-box.arrow::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #ddd;
  left: -12px;
  top: -20px;
}
.center-box.arrow::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: #ddd;
  left: -12px;
  bottom: -20px;
}
.center-box h3{
  font-size: 18px;
}
.box-icon-jobs{
  position: absolute;
  left: 15px !important;
  top: 5px !important;
  font-size: 28px !important;
  z-index: 1 !important;
}
.padding-box-list{
  padding-right: 40px;
  padding-top: 5px;
}
.date-box {
  position: absolute;
  left: 0;
  bottom: 30px;
}
.sent-title-icon {
  font-size:20px
}
.mobile-box { display: none !important;}

@media screen and (max-width: 759px){
  .center-box h3{
    font-size: 18px !important;
  }
  .padding-box-list{
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 768px){
  .mobile-box { display: block !important;}
  .desk-box { display: none !important;}
  .mobile-box .box-img {
    width: 80px;
    height: 80px;
  }
  .mobile-box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .mobile-box .center-box{
    display: flex !important;
    align-items: center !important;
    padding-right: 15px;
    width: calc(100% - 110px);
  }
  .box-icon-jobs {
    position: absolute;
    left: 10px !important;
    top: 10px !important;
    font-size: 27px !important;
  }
  .advertizing-half-box-image {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    margin-top: .5rem;
  }
  .advertizing-half-box-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
  }
  .sent-title{
    height: 32px;
    line-height: 32px;
    text-align: center;
  }
  .sent-title-icon {
    font-size:18px
  }

  .box-list-jobs {
    padding: 0 !important;
    border-radius: 5px !important ;
  }
  .pr0 {
    padding-right: 0 !important;
  }
  .pl0 { padding-left: 0 !important}

  .advertizing-half-box {
    font-size: 12px;
    color: #777;
    line-height: 1.75;
    border-bottom: 1px dashed #ddd;
    display: inline-flex;
    padding: 5px 0;
    width: 100%;
  }
  .lock-company-image {
    right: -13px;
    top: -64px;
  }
  .advertizing-half-box-image .ivu-tooltip-popper {
    top : -38px !important;
  }
  .advertizing-half-box-image  .ivu-tooltip  {
    width : auto !important
  }
  .advertizing-half-box-image   .ivu-tooltip-popper[x-placement="top"] .ivu-tooltip-arrow {
    display : none
  }

}
